#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=flair
GenericName=FLUKA Advanced graphical Interface
Comment=Create, edit, run and process FLUKA simulations
Exec=/usr/local/flair/flair
Icon=/usr/local/flair/icons/marmite.png
MimeType=application/x-flair;application/x-fluka;
StartupNotify=false
Terminal=false
Type=Application
Categories=Physics;Science;Education;Applications;Utility;
