[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Flair Calculator
GenericName=Flair Calculator
Comment=Flair calculator
Exec=/usr/local/bin/fcalc
Icon=/usr/local/flair/icons/calculator.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Physics;Science;Education;Applications;Utility;
