[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FLUKA Manual
GenericName=FLUKA Manual
Comment=Browse FLUKA and FLAIR manual
Exec=/usr/local/bin/fm
Icon=info
StartupNotify=true
Terminal=false
Type=Application
Categories=Physics;Science;Education;Applications;Utility;
