[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Fluka Output Viewer
GenericName=Fluka Output Viewer
Comment=Fluka Output Viewer
Exec=/usr/local/bin/fless
Icon=/usr/local/flair/icons/view.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Physics;Science;Education;Applications;Utility;
