[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Periodic Table
GenericName=Periodic Table
Comment=Nuclear Wallet Cards
Exec=/usr/local/bin/pt
Icon=/usr/local/flair/icons/toi.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Physics;Science;Education;Applications;Utility;
